<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDhXoRfxraXfe2PXRY1Vhx3GvKlPEHeGU</string>
	<key>GCM_SENDER_ID</key>
	<string>852460494016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryvenza.app</string>
	<key>PROJECT_ID</key>
	<string>ryvenza-1d3f0</string>
	<key>STORAGE_BUCKET</key>
	<string>ryvenza-1d3f0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852460494016:ios:519ea6523ebb00fc79e125</string>
</dict>
</plist>